venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
dataset/*.csv
dataset/processed/
.env
logs/detection_results.csv

dataset/
.venv/
venv/
__pycache__/
*.pycmodels/nids_model.joblib

 logs/
 detection_results.csv